
<div class="jumbotron text-center animated zoomIn" style="margin-top: 2%; padding: 15% 0;">
  <h1>Welcome to Keep-It</h1>
  <h4 class="animated fadeInDown">keep your notes organized!</h4>
<% if !logged_in? %>
  <div class="form-group" style="margin: 50px 0px 50px 0px">
    <a class="btn btn-primary btn-lg" style="margin-right: 10px" href="/signup">Sign Up</a>
    <a class="btn btn-primary btn-lg" href="/login">Log In</a>
  </div>
</div>
<% end %>
